files:
   "/etc/nginx/conf.d/01_syncserver.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      # 5/20/21; Have the load balancer respond with a 503 for failover
      # https://github.com/SyncServerII/ServerMain/issues/13
      server {
        listen 80;
        server_name _ localhost; # need to listen to localhost for worker tier
        location / {
          return 503;
        }
      }

container_commands:
  01_reload_nginx:
    command: pgrep nginx && service nginx reload || true